@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-color: #116D31;
    z-index: 4;
}

#rules-button {
    background-color: #A31621;
    color: black;
    font-size: large;
    text-decoration: none;
    padding: 7px;
    border-radius: 20%;
    position: relative;
    top: 20px;
}


#rules-button:hover {
    background-color: black;
    color: #A31621;
}

#rules-div {
    width: 50vw;
    text-align: center;
    background-color: #A31621;
    margin-top: 50px;
    position: absolute;
    left: 30%;
    visibility: hidden;
    z-index: 3;
    padding: 10px;
    border-style: solid;
    border-width: 10px;
}

#rules-div > h1 {
    border-style: solid;
    border-width: 5px;
}

ul {
    list-style: none;
}

#deck {
    position: absolute;
    bottom: 280px;
    left: 10%;
}

.hand {
    display: flex;
    justify-content: center;
    padding: 50px 0px;
    height: 150px;
    width: 140px;
    margin: 50px auto;
}

img {
    height: 230px;
    width: 130px;
    border-radius: 10%;
    position: relative;
    bottom: 50px;
}

#buttons-div {
    display: flex;
    justify-content: center;
}

button {
    background-color: #A31621;
    border: black;
    font-size: xx-large;
    padding: 10px;
    margin: 0px 10px;
    border-radius: 15%;
    width: 152px;
}

button:hover {
    background-color: black;
    color: #A31621;
}

#announcements-div {
    text-align: center;
    width: fit-content;
    margin: auto;
    background-color: #0A014F;
    border-radius: 8%;
}

#computer-value {
    z-index: 2;
    position: absolute;
    top: 170px;
    left: 47%;
    width: fit-content;
    font-size: 500%;
    margin: 0px;
    background-color: black;
    padding: 0px 5px;
}

#player-value {
    z-index: 2;
    position: absolute;
    top: 590px;
    left: 47%;
    width: fit-content;
    font-size: 500%;
    margin: 0px;
    background-color: black;
    padding: 0px 5px;
}

/*Add responsiveness*/

@media (max-width: 1000px) {
    #deck {
        visibility: hidden;
    }

    img {
        height: 220px;
        width: 120px;
    }

    .hand {
        padding: 20px 0px;
        margin-top: 70px;
        margin-bottom: 40px;
    }

    #rules-button {
        font-size: small;
    }

    button {
        font-size: large;
        padding: 10px;
        margin: 0px 10px;
        width: 100px;
    }

    #announcements-div {
        font-size: x-small;
    }

    #computer-value {
        position: absolute;
        top: 150px;
        left: 46%;
        font-size: 350%;
    }

    #player-value {
        position: absolute;
        top: 500px;
        left: 46%;
        font-size: 350%;
    }
}

@media (max-width: 400px) {
    img {
        height: 150px;
        width: 60px;
    }

    .hand {
        padding: 0px;
        margin-top: 90px;
        margin-bottom: 0px;
    }

    #computer-value {
        position: absolute;
        top: 130px;
        left: 43%;
        font-size: 200%;
    }

    #player-value {
        position: absolute;
        top: 450px;
        left: 43%;
        font-size: 200%;
    }

    #rules-div {
        font-size: small;
        margin-top: 30px;
    }

    ul {    
        font-size: smaller;
    }
}