body {
    background-color: #116D31;
}

#rules {
    background-color: #95190C;
    color: black;
    font-size: x-large;
    text-decoration: none;
    padding: 7px;
    border-radius: 20%;
    margin: 30px;
    position: relative;
    top: 20px;
}

#rules:hover {
    background-color: black;
    color: #95190C;
}

.hand {
    display: flex;
    justify-content: center;
    padding: 50px 0px;
    height: 150px;
    width: 140px;
    margin: 50px auto;
}

img {
    height: 250px;
    width: 140px;
    border-radius: 10%;
    position: relative;
    bottom: 50px;
    z-index: 1;
}

#buttons-div {
    display: flex;
    justify-content: center;
}

button {
    background-color: #ff3322;
    border: black;
    font-size: xx-large;
    padding: 10px;
    margin: 0px 10px;
    border-radius: 15%;
    width: 152px;
}

button:hover {
    background-color: black;
    color: #D91600
}

#announcements-div {
    text-align: center;
    width: fit-content;
    background-color: black;
    margin: auto;
}

#computer-value {
    z-index: 2;
    position: absolute;
    top: 170px;
    left: 47%;
    width: fit-content;
    font-size: 500%;
    margin: 0px;
    background-color: black;
    padding: 0px 5px;
}

#player-value {
    z-index: 2;
    position: absolute;
    top: 590px;
    left: 47%;
    width: fit-content;
    font-size: 500%;
    margin: 0px;
    background-color: black;
    padding: 0px 5px;
}